
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    background: url(../images/background-space.png) ;
    color: #dadd13;
  }

h1{
    margin-top: 25px;
    text-align: center;
}

.bg-light{
    background-color: rgb(110, 110, 110) !important;
}
.welcome {
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    line-height: 34px;
    color: #dadd13;
    box-align: center;
    border: 2px #dadd13;
    text-align: left;
    margin-bottom: 60px;

}
.container-inline {
    float: left;
    margin-left: 15px;
    
}

#light{
    background: url(../animation/stardust.gif) ;
}
#dark{
    background: url(../animation/stardust.gif) ;
}
#title-character{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
#sideSelect{
    text-align: center;
    font-size: 26px;
}
.CharList-Light{
    font-size: 25px;
    color: rgb(29, 141, 233);
    border: 2px white;
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
    padding: 20px 20px 

}
.CharList-Dark{
    font-size: 25px;
    color: rgb(233, 29, 46);
    border: 2px white;
    margin-bottom: 60px;
    width: 100%;
    height: 100%;
    padding: 20px 20px

}
.char{
    height: 300px;
    width: 200px;
    margin-right: 30px;
    border: 2px white;
    float: left;
    text-align: center;
    margin-right: 60px;
    margin-left: 60px;
}

/* Map */
#selection{
    background-color: black; 
}

.map{
    height: 660px;
    width: 1080px;
    margin-right: 30px;
    border: 2px white;
    float: left;
    text-align: center;
    margin-right: 60px;
    margin-left: 60px;
    background: url(../animation/map.gif);
}

#player{
        height: 300px;
        width: 200px;
        margin-right: 30px;
        border: 2px white;
        float: left;
        text-align: center;
        margin-right: 60px;
        margin-left: 60px;

}

#enemy{
    height: 300px;
        width: 200px;
        margin-right: 30px;
        border: 2px white;
        float: right;
        text-align: center;
        margin-right: 60px;
        margin-left: 60px;


}